{% extends "page.html" %}

{% block extra_head %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/all.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/slideshow.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/vibrant.css" media="screen" />
{% endblock %}

{% block script_defer %}
    <script type="text/javascript" src="{{STATIC_URL}}js/mootools.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/slideshow.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/visualslideshow.js"></script>
{% endblock %}




{% block page_content %}
<!-- Start VisualSlideShow.com BODY section -->
<div id="show" class="slideshow" >

  <div class="slideshow-images">

  {% for image in images %}
    <a href="{{IMAGE_URL}}{{image}}">
    <img id="slide-{{ forloop.counter }}" src="{{IMAGE_URL}}{{image}}" 
         alt="Tweet photos tagged with #njwedding" /></a>
  {% endfor %}
  </div>

  <div class="slideshow-thumbnails">
  <ul>
  {% for image in images %}
    <li><a href="#slide-{{ forloop.counter }}">
        <img src="{{THUMBNAIL_URL}}{{image}}" alt="Tweet photos tagged with #njwedding" /></a>
    </li>
  {% endfor %}
  </ul>
  </div>

<a id="vlb" href="http://visualslideshow.com">HTML Photo Slideshow by VisualSlideshow.com v1.0</a>
</div>
<!-- End VisualSlideShow.com BODY section -->						
<div id="output" class="tweets"></div>

{% endblock page_content%}

