{% extends "base.html" %}

{% block extra_head %}
    <script type="text/javascript" src="{{STATIC_URL}}engine/js/mootools.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}engine/js/slideshow.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}engine/js/visualslideshow.js"></script>
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/all.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/vibrant.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/home.css" media="screen" />
    <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}engine/css/slideshow.css" media="screen" />
    <script type="text/javascript" src="{{STATIC_URL}}js/common.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/feed.js"></script>
{% endblock %}

{% block body %}

<div id="content">
<h3>Photos from #NJWedding</h3>

<!-- Start VisualSlideShow.com BODY section -->
<div id="show" class="slideshow" style="margin-left: -10px;">

  <div class="slideshow-images">

  {% for image in images %}
    <a href="{{IMAGE_URL}}{{image}}">
    <img id="slide-{{ forloop.counter }}" src="{{IMAGE_URL}}{{image}}" 
         alt="Tweet photos tagged with #njwedding" /></a>
  {% endfor %}
  </div>

  <div class="slideshow-thumbnails">
  <ul>
  {% for image in images %}
    <li><a href="#slide-{{ forloop.counter }}">
        <img src="{{THUMBNAIL_URL}}{{image}}" alt="Tweet photos tagged with #njwedding" /></a>
    </li>
  {% endfor %}
  </ul>
  </div>

<a id="vlb" href="http://visualslideshow.com">HTML Photo Slideshow by VisualSlideshow.com v1.0</a>
</div>
<!-- End VisualSlideShow.com BODY section -->						
</div>
<div id="output" class="tweets"></div>
{% endblock %}
