.tweets {
    position:absolute;
    left: 680px;
    margin-right: 30px;
    /*margin-top: 23px;*/
    margin-left: 15px;
    text-align: left;
    height: 510px;
    overflow-y: scroll;
    
}

.profile {
    float: left;
}
.tweets img{
    float:left;
}
.msg {
    margin-left:60px;
    padding-left: 3px;
    color: white;
}

.created_at {
    float: left;
    width: 100%;
    font-size: 80%;
}

.slideshow-thumbnails ul {
    width: 640px!important;
}

.slideshow-thumbnails ul li {
    width: auto!important;
}
