.tweets {
    position:absolute;
    top: 200px;
    left: 680px;
    margin-right: 30px;
    /*margin-top: 23px;*/
    margin-left: 15px;
    text-align: left;
    height: 510px;
    overflow-y: scroll;
    
}

.profile {
    float: left;
}
.tweets img{
    float:left;
}
.msg {
    margin-top: 20px;
    margin-left:60px;
    margin-bottom: 30px;
    padding-left: 3px;
    color: black;
}

.created_at {
    float: left;
    width: 100%;
    font-size: 80%;
}

.galleria-container {
    background: none!important;
}

.galleria-info-text {
display:block;
text-align:center;
background:rgba(0,0,0,.5);

}

.galleria-info{
    left: 25%;
    top: 80%;
}

.galleria-info-link {
display:none;
} 