body{
    background-color: #03bdaf;
}

#website_title{
    margin-top: 24px;
    margin-bottom: 7px;
    margin-left: 8px;
    color: #ffffff;
    font-size: 40px;
}
#shortcut_menu_container{
    float: right;
}

#page_header{
    border: 5px #ffffff solid;
}

#page_content,#page_footer{
    border: 5px #ffffff solid;
    border-top:  0 none;
}
#page_content{
    padding-left: 12px;
}
#page_footer{
    padding:  10px;
    height: 84px;
}
.igoyz_logo{
    height: 84px;
    width:84px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.slideshow{
    margin-top: 0;
}
.slideshow-controller{
    margin-top: 0;
}

#show{
    float: left;
    left: 0;
}
#show .slideshow-images{
    left: 0;
    border: 5px #ffffff solid;
    -moz-box-shadow: 0px 1px 8px rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, .5);
}
.slideshow-captions{
    margin-left: 5px;  /*because we have 5px border*/
    bottom: 7px; /* I was 20px, because we have 5px border*/
    left: 0;
}
#vlb{
    display:none;
}

#shortcut_menu_container{
    color: white;
    margin-right: 30px;
    margin-top: 45px;
}

#shortcut_menu_container .each_menu{
    float: right;
    margin-left: 10px;
    font-size: 9px;
    text-transform: uppercase;
}
.view_map_icon,
.add_to_calendar_icon{
    width: 11px;
    height: 17px;
    background-image: url(../images/view_map.png);
    float: left;
    margin-right: 4px;
}
.add_to_calendar_icon{
    background-image: url(../images/add_to_calendar.png);
    width: 17px;
}