{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta property="fb:app_id" content="282077095155130">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        <!--[if IE]><style>
            div {
                zoom: 1; /* trigger hasLayout */
            }
        </style><![endif]-->

        {% block extra_head_base %}
            <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.4.4.min.js"></script>
            <script type="text/javascript" src="{{STATIC_URL}}js/jquery.updater.js"></script>
            {% block extra_head %}{% endblock %}
            <link type="text/css" rel="stylesheet" href="{{STATIC_URL}}css/igoyz.css" media="screen" />
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div id="fb-root"></div>
<script>
window.fbAsyncInit = function() {
	FB.init({appId: '282077095155130', status: true, cookie: true, xfbml: true});
	FB.Event.subscribe('commen​t.create', function(response) {
		alert("Thanks");
	});
};
(function() {
var e = document.createElement('sc​ript'); e.async = true;
e.src = document.location.protocol​ + '//connect.facebook.net/nb​_NO/all.js';
document.getElementById('f​b-root').appendChild(e);
}());
</script>   
        {% block body %}
        {% endblock %}

        {% block script_defer %}
        {% endblock %}
    </body>
</html>
