{% extends "base.html" %}

{% block body %}
    <div id="page_header">
        <img src="{{ STATIC_URL }}images/website_title.png" id="website_title" />
        <div id="shortcut_menu_container" >
            <div class="each_menu"><div class="view_map_icon"></div>View Map</div>
            <div class="each_menu"><div class="add_to_calendar_icon"></div>Add to Calendar</div>
        </div><!--id="shortcut_menu_container"-->
    </div><!--id="page_header"-->
    
    <div id="page_content">


    {% block page_content %}
    {% endblock page_content %}
        <div style="clear:both;"></div>
    </div><!--id="page_content"-->

    <div id="page_footer">
        <img src="{{ STATIC_URL }}images/igoyz.png" class="igoyz_logo" />
    </div><!--id="page_footer"-->

{% endblock body%}