{% extends "base.html" %}

{% block body %}
    <div id="page_header">
        <img src="{{ STATIC_URL }}images/website_title.png" id="website_title" />
        <div id="shortcut_menu_container" >
            <div class="each_menu"><div class="view_map_icon"></div>View Map</div>
            <div class="each_menu"><div class="add_to_calendar_icon"></div>Add to Calendar</div>
        </div><!--id="shortcut_menu_container"-->
    </div><!--id="page_header"-->
    
    <div id="page_content">
        <div id="main_menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">about</a></li>
                <li><a target="_blank" href="http://njwedding.giga-sites.com/">blog</a></li>
                <li><a target="_blank" href="http://www.facebook.com/media/set/?set=a.1933499773557.2096394.1124168060&l=4050ec72a8&type=1">gallery</a></li>
                <div style="clear:both"></div>
            </ul>
        </div><!--id="main_menu"-->


    {% block page_content %}
    {% endblock page_content %}
        <div id="tweeter"></div>
        <div id="tweeter_tag"></div>
        <div style="clear:both;"></div>


    </div><!--id="page_content"-->

    <div id="page_footer">
        <img src="{{ STATIC_URL }}images/igoyz.png" class="igoyz_logo" />
    </div><!--id="page_footer"-->

{% endblock body%}